$white:      #FFFFFF;
$highlight:  #FAFAFA;
$lightgray:  #F5F5F5;
$tabgray:    #EEEEEE;
$icongray:   #CCCCCC;
$footergray: #BCBCBC;
$gray:       #999999;
$darkgray:   #757575;
$black:      #2D2D2D;
$bgblack:    #222222;
$red:        #EB352D;
$lightblue:  #0099E8;
$facebook:   #3B5998;
$twitter:    #5D9DC9;
$line:       #01C137;
$pinterest:  #BD081C;
$pink:       #EF5185;
$yellow:     #FBA934;