.footer {
  position:fixed;
  bottom:0;
  width:100%;
  &__upper {
    background-color:rgba(255,0,0,0.5);
    display:flex;
    margin:0 260px;
    height:260px;
    background-image: url('christmasA7_03359_TP_V4.jpg');
    
    &__left {
      color:#333333;
      width:40%;
      
      &--text1 {
        font-size:20px;
        margin:0 0 15px;
      }
      &--text2 {
        font-size:20px;
        margin:0 0 20px;
      }
    }
        &__right {
          width:60%;
          &--logo {
            display:flex;
            
            p, a {
              font-size:20px;
              font-weight:bold;
              width:33%;
              color:white;
            }
          }
        }
    
    }
  }


