.footer {
  // bottom:0;
  width:100%;
  &__upper {
    background-color:rgba(255,0,0,0.5);
    padding:0 250px;
    height:260px;
    background-image: url('christmasA7_03359_TP_V4.jpg');
    &__left {
      padding-top:50px;
      color:white;
      width:60%;
      
      &--text1 {
        font-size:24px;
        margin:0 0 15 0px;
        font-weight:bold;
      }
      &--text2 {
        font-size:35px;
        margin:0 0 20px 0;
      }
    }
        &__right {
          width:40%;
          &--logo {
            display:flex;
            
            p, a {
              font-size:20px;
              font-weight:bold;
              padding:0 10px;
              color:white;
            }
          }
        }
    }
  }

  .footer__lower__wrapper {
    height:300px;
    padding:0 100px;
    background-color:#222222;
    .footer__lower {
      background-color:#222222;
      display:flex;
      &--mercari {
        width:20%;
      }
      &--help {
        width:20%;
        
      }
      &--privacy {
        width:20%;
        
      }
      &--null {
        width:20%;
        
      }
      &--country {
        width:20%;

      }

      &--size {
        margin-top:18px;
        padding:0 40px 0 0;
      }

      li {
        padding-top:12px;
        color:white;
        font-weight:bold;
        font-size:12px;
        color:rgba(255,255,255,0.7);
      }

      .top{
        font-size:16px;
        color:white;
        font-weight:bold;
        // font-size:12px;
        // color:rgba(255,255,255,0.7);
      }

      .null{
        padding-top:30px;
      }
    }

  .footer__lower__mercari--icon {
    display:flex;
  }

  .icon_upper {
    padding:0 20px 0 0;
    font-size:27px;
    color:white;
  }

  .icon_lower {
    font-size:27px;
    color:white;
  }
}

.sell_btn{
  height:160px;
  width:160px;
  background-color:$red;
  position:fixed;
  right:34px;
  bottom:34px;
  border-radius:100px;
  text-align:center;
  padding-bottom:5px;
  p{
    padding:32px 0 0;
    font-size:22px;
    color:white;
  }
    .icon_lower {
    font-size:60px;
    color:white;
    }
}