.main-header {
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 3;
  background-color: $white;
  .container {
    margin: 0 110px;
    padding-top: 8px;
    background-color: $white;
    &__top {
      height: 40px;
      display: flex;
      justify-content: space-between;
      &__logo {
        margin: 0 45px 0 0;
        box-sizing: border-box;
        line-height: 40px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        .logo-image {
          object-fit: cover;
        }
      }
      &__form {
        width: 100%;
        height: 40px;
        position: relative;
        &--field {
          box-sizing: border-box;
          width: 100%;
          height: 40px;
          padding: 0 50px 0 10px;
          border: 1px solid $icongray;
          line-height: 1.4em;
          border-radius: 3px;
          font-size: 16px;
          background-color: $lightgray;
        }
        &--search-btn {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          #btn {
            margin-top: 2px;
            width: 50%;
            height: 50%;
            position: absolute;
            top: 25%;
            right: 25%;
          }
          &--hidden {
            display: none;
          }
        }
      }
    }
    &__bottom {
      height: 40px;
      margin-top: 8px; 
      font-size: 0.9rem;
      @include clearfix();
      &__left {
        height: 100%;
        display: flex;  
        float: left;
        .catogory-search {
          padding-right: 10px;
          line-height: 36px;
          display: flex;
          &__link {
            font-weight: bold;
            .fa-list-ul {
              color: $red;
            }
          }
          &__dropdown {
            display: none;
          }
        }
        .brand-search  {
          padding-left: 10px;
          line-height: 36px;
          display: flex;
          &__link {
            font-weight: bold;
            .fa-tag {
              color: $red;
            }
          }
        }
      }
      &__right {
        height: 100%;
        width: 50%;;
        line-height: 36px;
        display: flex;
        float: right;
        list-style: none;
        position: relative;
        &__list-left {
          padding-right: 14px;
        }
        &__list-center {
          padding: 0 14px;
        }
        &__list-right {
          padding-left: 14px;
          position: absolute;
          right: 0;
        }
        .fa-heart, .fa-bell, .fa-check{
          color: $icongray;
          font-weight: bold;
          font-size: 1.1rem;
        }
      }
      &__session {
        width: 200px;
        height: 100%;
        display: flex;
        float: right;
        position: relative;
        &__new-user {
          text-align: center;
          &--link {
            @include header-btn();
            background-color: $red;
            color: $white;
            border: 1px solid $red;
          }
        }
        &__login {
          position: absolute;
          right: 0px;
          text-align: center;
          &--link {
            @include header-btn();
            color: $lightblue;
            border: 1px solid $lightblue;
          }
        }
      }
    }
  }
}
a {
  text-decoration: none;
  color: $black;
}