.wrapper {
  color:blue;
}

.toplogo {
  line-height:40px;
  text-align:center;
  font-size:30px;
  font-weight:bold;
}
.header {
  height:100px;
  width:100%;
  border-bottom:1px solid gray;
  .header-top {
    width:1020px;
    margin:0 auto;

  .header__upper {
    height:40px;
    display:flex;
    padding-top:8px;
    &__logo {
      width:134px;
      height:40px;
      margin:0 45px 0 0;
      box-sizing:border-box;
      }
    }
    .header__upper__form{
      width:521px;
      height:40px;
     
      
      &--text {
        height:40px;
        // padding:0 42px 0 10px;
        box-sizing:border-box;
        width:830px;
        .inputform {
          height:40px;
          border-radius:3px;
          line-height:4px;
          font-size:16px;
          font-style:inherit;
          padding-left:6px;
          background: #f5f5f5;
          width:830px;

        }
      }
    }
  }
  }

  .category_link {
    font-size:10px;
    font-weight:bold;
  }
  
  .icon{
    font-size:25px;
  }
  
  a {
    text-decoration:none;
    color:black;
  }

  .header__lower {
    height:40px;
    padding-top:10px;

    
    .header__lower__left {
      display:flex;  
      float:left;
      .catogory__search {
        width:150px;
        height:36px;
        line-height:36px;
        display:flex;
        
      }   
        

      }
      .brand__search  {
        width:150px;
        height:36px;
        line-height:36px;
        display:flex;
        
      }
      
      .header__lower__right {
        display:flex;
        float:right;
        width:600px;;
      &--good {
        width:25%;
        height:36px;
        margin-left:100px;
        padding:0 10px;
        display:flex;
        line-height:36px;
      }
      
      &--news {
        width:25%;
        height:36px;
        padding:0 10px;
        display:flex;
        line-height:36px;
      }
      
      &--todo {
        width:25%;
        height:36px;
        padding:0 10px;
        display:flex;
        line-height:36px;
      }
      
      &--mypage {
        width:25%;
        height:36px;
        padding:0 10px;
        display:flex;
        line-height:36px;
      }
     }
     
    
    }
    

    
    

  .footer {
  background-color:red;
  height:100px;
  width:100%;
  position:fixed;
  bottom:0;
}

