.container {
  .contents {
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    background-color: $lightgray;
    .content {
      &__header{
        height: 128px;
        text-align: center;
        line-height: 128px;
        &__logo {
          .image {
          }
        }
      }
      &__main {
        background-color: $white;
        width: 700px;
        margin: 0 auto;
        &__box {
          &__header {
            .main{
            font-size: 22px;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            padding: 32px 16px;
            }
          }
          &__upload {
            padding: 40px;
            border-top: 1px solid $lightgray;
            .upload-contents {
              &__header-box{
                &__label {
                  font-size: 16px;
                  font-weight: 600;
                  display: inline-block;
                }
              }
              &__info {
                font-size: 16px;
                margin: 8px 0 0 0;
              }
              &__container {
                .image-upload {
                  .error-message {
                    color: $red;
                  }
                  &--btn {
                  }
                  .images-field {
                    display: flex;
                    flex-wrap: wrap;
                    &__image:nth-of-type(5n+1) {
                      margin: 0 0 10px 0;;
                    }
                    &__image {
                      margin: 0 0 10px 10px;
                      >img {
                        width: 112px;
                        height: 114px;
                        object-fit: contain;
                      }
                      &__delete {
                        &--message {
                          display: inline;
                        }
                      }
                    }
                    >img {
                      width: 112px;
                      height: 114px;
                      margin: 0 0 10px 10px;
                      object-fit: contain;
                    }
                    >img:nth-of-type(5n+1) {
                      margin: 0 0 10px 0;;
                    }
                  }
                }
              }
            }
          }
          &__product {
            padding: 40px;
            border-top: 1px solid $lightgray;
            .name-box:first-of-type {
              margin-bottom: 40px;
            }
            .name-box {
              &__label {
                font-weight: bold;
              }
              &__field {
                @include single-field();
              }
              &__textarea{
                width: 100%;
                margin: 8px 0 0 0;
                padding: 10px;
                font-size: 16px;
                line-height: 1.5;
                resize: vertical;
                border: 1px solid $icongray;
                box-sizing: border-box;
              }
              .error-message {
                color: $red;
              }
            }
          }
          &__detail {
            padding: 40px;
            border-top: 1px solid $lightgray;
            @include clearfix();
            .side-label {
              @include side-label();
            }
            .form-container {
              float: right;
              width: 60%;
              .cat-box {
                &__header-box {
                  &__label {
                    display: inline-block;
                    font-weight: 600;
                  }
                }
                &__select {
                  .cat__select {
                    @include selector();
                  }
                }
              }
              .size-box {
                &__header-box {
                  &__label {
                    @include form-label();
                  }
                }
                &__select {
                  @include selector();
                }

              }
              .brand-box {
                &__header-box {
                  &__label {
                    @include side-label();
                  }
                  .arbitary {
                    line-height: 16px;
                    background-color: $icongray;
                    margin: 0 0 0 8px;
                    padding: 2px 4px;
                    border-radius: 2px;
                    font-size: 12px;
                    color: $white;
                  } 
                }
                &__form {
                  .brand-field{
                    @include single_field();
                  }
                }
              }
              .status-box {
                &__header-box {
                  &__label{
                    @include form-label();
                  }
                }
                &__select {
                  @include selector();
                }
              }
            }
          }
          &__details {
            padding: 40px;
            border-top: 1px solid $lightgray;
            @include clearfix();
            .side-label {
              @include side-label();
            }
            .form-container {
              float: right;
              width: 60%;
              .form-box:first-of-type {
                margin-top: 0;
              }
              .form-box {
                margin-top: 40px;
                &__header-box {
                  &__label {
                    font-weight: 600;
                    margin-top: 8px;
                  }
                }
                &__select {
                  .selector {
                    @include selector();
                  }
                  .hidden {
                  display: none;
                  }
                }
                .error-message {
                  color: $red;
                }
              }
            }
          }
          &__price {
            padding: 40px;
            border-top: 1px solid $lightgray;
            @include clearfix();
            .side-label {
              @include side-label();
            }
            .form-container {
              float: right;
              width: 60%;
              .price-box {
                @include clearfix();
                padding-bottom: 24px;
                line-height: 48px;
                border-bottom: 1px solid $icongray;
                &__left {
                  float: left;
                  font-weight: 600;
                  &__label {
                  }
                }
                &__right {
                  float: right;
                  display: flex;
                  &__yen {
                    margin-right: 10px;
                  }
                  &__field{
                    .price-field {
                      height: 48px;
                      width: 100%;
                      padding: 10px;
                      border-radius: 4px;
                      border: 1px solid $icongray;
                      background: $white;
                      line-height: 1.5;
                      font-size: 16px;
                      box-sizing: border-box;  
                    }
                    .error-message {
                      color: $red;
                    }
                  }
                }
              }
              .fee {
                padding: 24px 0;
                border-bottom: 1px solid $icongray;
                @include clearfix ();
                &__label {
                  &__preview {
                    float: right;
                    line-height: 2;
                  }
                }
              }
              .profit { 
                padding: 24px 0;
                border-bottom: 1px solid $icongray;
                @include clearfix ();
                &__label {
                  font-weight: 600;
                }
                &__preview {
                  float: right;
                  font-size: 32px;
                }
              }
            }
          }
          &__btn {
            padding: 40px;
            border-top: 1px solid $lightgray;
            .attention {
              font-size: 14px;
              line-height: 1.5;
              >a {
                text-decoration: none;
                color: $lightblue;
              }
            }
            .exhibit {
              margin: 40px 0 0;
              .exhibit__btn {
                @include submit-btn();
              }
            }
            .return {
              &__btn {
                display: block;
                height: 48px;
                width: 45%;
                background: $gray;
                border: 1px solid $gray;
                margin: 24px auto 0;
                color: $white;
                font-size: 14px;
                text-align: center;
                line-height: 48px;
              }
            }
          }
        }
      }
    }
  }
}