.details {
  background-color:#F5F5F5;  
  .detail {
    height: 100%;
    width: 700px;
    margin: 40px 290px 0;
    padding: 20px 40px 40px;
    background-color: white;
    box-sizing: border-box;
    &__header {
      font-size:  24px;
      font-weight:  bold;
      text-align:  center;
    }
    &__body {
      &--left {
        float: left;           
        .items-photo__upper {
          margin: 16px 0 0;
          font-size: 14px;
          text-align: center;
          position: relative;
          &--thumbnail {
            object-fit: contain;
          }
        }
        .items-photo__lower__top {
          display: flex;
          flex-wrap: wrap;
          max-width: 300px;
          &__box{
            &--slide {
              width: 20%;
              object-fit: contain;
            } 
          }
        }
      }
    }
  &__body--right {
    min-height: 100px;
    width: 300px;
    float: right;
    margin: 16px 0 0;
    border: 1px solid #f5f5f5;
    table {
      width: 100%;
      th {
        min-height: 40px;
        font-size: 14px;
        text-align: left;
        padding: 8px;
        background-color: #F5F5F5;
        border: 1px solid #f5f5f5;
      }
      td {
        min-height: 40px;
        font-size: 14px;
        text-align: left;
        padding: 8px;
        border: 1px solid #f5f5f5;
      }
      a {
        text-decoration: none;
        color: #0099e8;
        min-height: 40px;
        font-size: 14px;
        text-align: left;
        padding: 8px;
      }
      .evaluate__icon {
        font-size:16px;
        display: flex;
        &__smile {
          width:33%;
          color: #ef5185;
        }
        &__meh-o {
          width: 33%;
          color: #fba933;
        }
        &__frown {
          width: 33%;
          color: #6ab5d8;
        }
      }
    }
  }
    .item__price {
      padding-top: 24px;
      height: 50px;
      width: 100%;
      clear: both;
      text-align: center;
        &__bold {
          height: 63px;
          width: 142px;
          margin-right: 16px;
          font-size: 50px;
          font-weight: 600;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        }
          &__tax {
            font-size: 10px;
          }
          &__fee {
            font-size: 16px; 
          }
    }
    .item-buy-btn {
      height: 60px;
      margin-top: 16px;
      cursor: pointer;
      text-align: center;
      background-color: #ea352d;
      a {
        font-size: 24px;
        line-height: 60px;
        color: white;
        font-weight: 600;
        text-decoration: none;
      }
    } 
    .item-description {
      padding-top: 32px;
    }
    .footer {
      &__likes {
        height: 33px;
        width: 120px;
        display: flex;
        background-color: #F5F5F5;
        border-radius: 40px;
        float:left;
        &--icon {
          line-height: 33px;
          margin-left: 16px;
        }
        &--text {
          a {
            font-size: 14px;
            text-decoration: none;
            line-height:  33px;
            color: black;
            margin-left: 8px;
          }
        }
      }
      &__notes  {
        height: 33px;
        width: 180px;
        margin-left: 8px;
        box-sizing: border-box;
        display: flex;
        background-color: #F5F5F5;
        border-radius: 40px;
        float: left;
        &--icon {
          line-height: 33px;
          margin-left: 16px;
        }
        &--text {
          a {
            font-size: 14px;
            text-decoration: none;
            line-height:  33px;
            color: black;
            margin-left: 8px;
          }
        }
      }
      &__right  {
        display: flex;
        float: right;
        &--icon {
          line-height: 33px;
          color: #0099E8;
        }
        &--text {
          a {
            font-size: 14px;
            text-decoration: none;
            line-height: 33px;
            margin-left: 8px;
            color: #0099E8;
          }
        }
      }
    }    
  }
}
.listing__item__change__box {
  margin: 8px 290px;
  background-color: white;
  padding: 20px 40px;
  box-sizing: border-box;
  a {
    font-size: 14px;
    line-height: 48px;
    color: white;
    text-decoration: none;
  }
  .listing__item__change__box--edit {
    height: 48px;
    margin: 16px 0;
    cursor: pointer;
    text-align: center;
    background-color: #ea352d;
  }
  .listing__item__change__box--text {
    text-align: center;
    >p {
      font-size: 16px;
      margin: 16px 0;
    }
  }
  &--pause {
    height: 48px;
    margin: 16px 0;
    cursor: pointer;
    text-align: center;
    background-color: #ea352d;
  }
  &--resume {
    height: 48px;
    margin: 16px 0;
    cursor: pointer;
    text-align: center;
    background-color: #ea352d;
  }
  &--delete {
    height: 48px; 
    margin: 16px 0;
    cursor: pointer;
    text-align: center;
    background-color: #ea352d;
  }
}

.comments {
  height: 260px;
  margin: 8px 290px;
  background-color: white;
  padding: 20px 40px;
  box-sizing: border-box;
    &__header {
      height: 44px;
      padding: 10px;
      background-color: #FFF6DE;
      font-size: 14px;
    } 
    &__middle {
      height: 104px;
      width: 620px;
      margin-top: 8px;
      padding: 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    &__footer{
      height: 50px;
      width: 620px;
      border: 1px solid #aaaaaa;
      background-color: gray;
      box-sizing: border-box;
      span {
        text-align: center;
        color: white;
        font-size: 14px;  
      }
    }
  }
.link {
  height: 46px;
  margin: 8px 290px;
  &__bar {
    line-height: 46px;
    color: #0099E8;
    a {
      font-size: 14px;
      text-decoration: none;
      line-height: 33px;
      margin-left: 8px;
      color:#0099E8;
    }
    &__left {
      float: left;
      display: flex;
      &__licon {
        font-size: 14px;
      }
    }
    &__right {
      float: right;
      display: flex;
      &--icon {
        font-size: 14px;
        margin-left: 6px;
      }
    }
  }
}
.icons {
  height: 82px;
  margin: 8px 290px;
  background-color :white;
  padding: 24px 0;
  font-size: 44px;
  line-height: 82px;
  text-align: center;
  &__bar {
    margin: 16px;
    font-size: 44px;
    display: inline-flex;
    .facebook {
      @include sns-icon();
      .fab.fa-facebook-square {
        color: $facebook;
        position: absolute;
        right: 7px; 
      }
    }
    .twitter {
      @include sns-icon();
      .fab.fa-twitter {
        color: $twitter;
        position: absolute;
        right: 0px; 
      }
    }
    .line {
      @include sns-icon();
      .fab.fa-line {
        color: $line;
        position: absolute;
        right: 0px; 
      }
    }
    .pinterest {
      @include sns-icon();
      .fab.fa-pinterest {
        color: $pinterest;
        position: absolute;
        right: -5px; 
      }
    }
  }
}
.item__boxes {
  width: 700px;
  margin: 0 auto;
  &__header {
    margin: 24px 0 8px;
    height: 30px;
    a {
      font-size: 22px;
      text-decoration: none;
      line-height: 30px;
      margin-left: 8px;
      color: #0099E8;
    }
  }
  &__main {
    &__lists {
      display: flex;
      flex-wrap: wrap;
      &__content {
        width: 33%;
        margin: 0 20px 20px 0;
        &--image {
          &--size {
            object-fit: cover;
          }
        }
        &__lower{
          padding: 16px;
          background-color: white;
          &--name {
            height:48px;
            font-size: 16px;
          }
          &--price {
            font-size: 14px;
            margin: 8px 0 0;
            font-weight: bold;
          }
        }
        &__footer {
          height:110px;
          &--text {
          }
          &--price {
          }
        }
      }
    }
  }
}
  