.notification {
  .notice {
    background-color: rgb(87, 216, 87);
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: orange;
    color: $white;
    text-align: center;
  }
}