.wrapper{  
  background-color: $lightgray;
  .header {
    height: 128px;
    width: 100%;
    line-height: 128px;
    &__logo {
      height: 49px;
      width: 185px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .container {
    height: 100%;
    margin: 0 auto;
    width: 700px;
    background-color: white;
    .body {
      padding : 24px 87px 0;
      margin: 0 103px;
      &__header {
        height: 65px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid $lightgray;
      }
      &__main {
        height: 100%;
        &__top {
          display: flex;
          &--img {
            height: 64px;
            width: 64px;
            background-color: yellow;
            }
          &--name {
            font-size: 16px;
            font-weight: 600;
            margin-left: 16px;
          }
        }
        &__price {
          height: 48px;
          display: flex;
          margin-top: 8px;
          line-height: 48px;
          &--amount {
            font-size: 16px;
            font-weight: bold;
            margin-left: 100px;
          }
          &--message {
            font-size: 14px;
            margin-left: 8px;
          }
        }
        &__point {
          padding: 16px;
          font-size: 14px;
          text-align: center;
          background-color: $icongray;
        }
        &__payment__amount {
          height: 60px;
          font-weight: bold;
          &--left {
            float: left;
            font-size: 18px;
            padding: 16px 0;
          }
          &--right {
            float: right;
            font-size: 28px;
            padding: 8px 0;
          }
        }
        &__note {
          margin-top: 8px;
          color: red;
          font-size: 14px;
          text-align: center;
        }
        &__buy--btn {
          text-align: center;
          background-color: $icongray;
          a {
            font-size: 14px;
            line-height: px;
            padding: 16px;
            text-decoration: none;
            display: block;
          }
        }
        &__info {
          margin-top: 8px;
          font-size: 14px;
          text-align: center;

        }
        &__logo {
          height: 60px;
          display: flex;
          line-height: 60px;
          &--left {
            width:50%;
            text-align:center;
          }
          &--right {
            width:50%;
            text-align:center;
          }
        }
      }
      .address {
        height: 128px;
        padding-top: 40px;
        font-size: 14px;
        border-top: 1px solid $lightgray;
        &__header {
          font-weight:bold;
        }
        &__post-number {
          margin-top: 8px;
        }
        &__main {
        }
        &__name {
        }
        &__footer {
          float: right;
        }
        a {
          color: $lightblue;
        }
      }
      .bottom {
        height: 154px;
        padding-top: 40px;
        font-size: 14px;
        border-top: 1px solid $lightgray;
        &__header {
          margin-top: 8px;
          font-weight: bold;
        }
        &__main {
        }
        &__footer {
          float: right;
        }
        a {
          color: $lightblue;
        }
      }
    }
  }
}