.container {
  width: 100%;
  &__sub-header {
    height: 128px;
    text-align: center;
    &__logo {
      margin-top: 40px;
      display: inline-block;
    }
  }
  &__main {
    height: 100%;
    color: $black;
    &__container {
      width: 700px;
      margin: 0 auto;
      background-color: $white;
      &__title {
        padding: 32px 40px;
        border-bottom: 1px solid $lightgray;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
      }
      &__form {
        width: 100%;
        padding: 40px 40px 64px;
        box-sizing: border-box;
        display: block;
        &__content {
          max-width: 56%;
          margin: 0 auto;
          .form-part:first-child {
            margin: 0;
          }
          .form-part {
            margin-top: 32px;
            &__title {
              &__label {
                font-size: 0.9rem;
                font-weight: bold;
              }
              &__require {
                margin-left: 8px;
                padding: 2px 4px;
                border-radius: 2px;
                font-size: 0.7rem;
                vertical-align: top;
                background-color: $red;
                color: $white;
              }
            }
            &__text {
              margin-top: 8px;
              font-size: smaller;
              &__info {
                margin-top: 8px;
                color: $gray;
                font-size: smaller;
              }
            }
            &__single-field {
              width: 100%;
              height: 48px;
              padding: 10px 16px;
              margin-top: 8px;
              box-sizing: border-box;
              border: 1px solid $icongray;
              border-radius: 4px;
            }
            &__half-field:first-of-type {
              margin-right: 8px;
            }
            &__half-field {
              width: calc(50% - 8px);
              height: 48px;
              margin-top: 8px;
              padding: 10px 16px;
              border: 1px solid $icongray;
              border-radius: 4px;
              box-sizing: border-box;
            }
            &__birthday:first-of-type {
              margin-left: 0;
            }
            &__birthday {
              width: 25%;
              height: 48px;
              margin: 8px 0 0 8px;
              padding: 0 10px;
              background-color: $white;
              color: $black;
              border: 1px solid $icongray;
            }
          }
          .actions {
            &__button {
              width: 100%;
              line-height: 48px;
              margin-top: 32px;
              border: none;
              display: block;
              background-color: $red;
              color: $white;
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
  &__footer {
    padding: 40px 0;
    width: 700px;
    margin: 0 auto;
    color: $black;
    font-size: 0.75rem;
    font-weight: lighter;
    &__nav {
      text-align: center;
      &__ul {
        width: 55%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__li {
          display: inline-block;
        }
      }
    }
    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      display: block;
    }
    &__copy {
      margin-top: 8px;
      text-align: center;
    }
  }
}