.container
  .contents
    .content
      .content__header
        .content__header__logo
          = link_to('mercari', {https://www.mercari.com/jp/})
      .content__main
        .content__main__product
          .content__main__box__header
          %h2 商品情報を入力
          .content__main__box__upload
            .header
              .header__main
              出品画像
              .header__require
              必須
              .header__label
              %p 最大10枚までアップロードできます
            .container
              .items-images
                .image
                イメージ
                .edit
                編集
                .delete
                削除
              .image-upload
                .box
                .guide
                ドラッグ&ドロップ
                またはクリックしてファイルをアップロード
          .content__main__box__product
            .name-box
              .name-box__label
              商品名
              .name-box__require
              必須
              .name-box__form
            .disc-box
              .disc-box__label
              商品説明
              .disc-box__require
              必須
              .disc-box__form
          .content__main__box__detail
            .side
            .container
              .cat-box
                .cat-box__header
                  .label
                  カテゴリー
                  .require
                  必須
                .cat-box__select
                  .topCat
                  .midCat
                  .botCat
              .size-box
                .size-box__header
                  .label
                  サイズ
                  .require
                  必須
               .size-box__select
              .brand-box
                .brand-box__header
                  .label
                  ブランド
                  .arbitary
                  任意
                .brand-box__form
              .status-box
                .status-box__header
                  .label
                  商品の状態
                  .require
                  必須
                .status-box__select
          .content__main__box__delivery
            .side
            .container
              .burden-box
                .label
                発送料の負担
                .require
                必須
              .region-box
                .label
                発送元の地域
                .require
                必須
              .days-box
                .label
                発送までの日数
                .require
                必須
          .content__main__box__price
            .side
            .container
              .price-box
                .price-box__label
                価格
                .price-box__require
                必須
                .price-box__form
              .fee
                .fee__right
                .fee__left
                販売手数料(10%)
              .profit
              販売履歴         
          .content__main__box__btn
            .attention
            禁止されている出品、行為を必ずご確認ください。
            またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            また、出品をもちまして加盟店規約に同意したことになります。
            .exhibit__btn
            出品
            .return__btn
            戻る
      .content__footer
        .content__footer__navigation
          .policy
          プライバシーポシシー
          .rules
          メルカリ利用規約
          .transLow
          特定商取引に関する表記
        .content__footer__logo
          .logo-image
          
        .content__footer__copyright
          .copyright
          © 2019 Mercari

        



