.card__new--btn
  = form_with url: user_cards_path, method: "post" do
    :plain
      <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_7a80698bf3309ecfeed80515" data-text="カードを追加する" data-submit-text="追加する"></script>
